/* Set background color for all elements */
* {
  background-color: #fff;
}

/* Center the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the box container */
.box {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
}

/* Reset margin for h1 tag */
h1 {
  margin-top: 0;
}

/* Add margin-bottom for result_page section */
.result_page {
  margin-bottom: 20px;
}

/* Add margin-top for h3 tags */
h3 {
  margin-top: 10px;
}

/* Style the btn_result section */
.btn_result {
  display: flex;
  justify-content: space-between;
}

/* Style the button element */
button {
  padding: 10px 20px;
  background-color: #002244;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the button on hover */
button:hover {
  background-color: #0CAFFF;
}
